#containerGeral {
    border: solid;
    width: 1200px;
}
#tiposAcoes {
    display: flex;
    flex-direction: column;
    gap: 50px;
    border: solid;
    width: 600px;
    margin-top: 30px;
}

#containerMelhoresAcoes {
    width: 600px;
}

#containerMelhoresBDRs {
    width: 600px;
}

#titulo {
    text-align: center;
    background-color: black;
    color: white;  
}

#containerAcoes {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 80px;
    height: 305px;
    overflow: auto;
    background-color:#DCDCDC;
}

.divAcao {
    width: 50%;
    justify-content: space-between;
}

#containerAcoes h1 {
    margin-bottom: 25px;
}

#titulo2 {
    text-align: center;
    background-color: black;
    color: white; 
}

#containerBDRs {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 80px;
    height: 305px;
    overflow: auto;
    background-color:#DCDCDC;
}