#containerGeral {
    width: 50%;
}

#titulo {
    text-align: center;   
}

#containerAcoes {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    
    height: 350px;
    overflow: auto;
    justify-content: center;
}

#resto {
    width: 50%;
}

.divAcao {
    width: 50%;
    justify-content: space-between;
}

#containerAcoes h1 {
    margin-bottom: 25px;
}