#container {
    width: 50%;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #aaaaaa;
    width: 400px;
    margin-top: 25px;
    height: 40px;
    margin-bottom: 15px;
}

#divBotaoConta {
    width: 420px;
    display: flex;
    justify-content: end;
}

button {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: #aaaaaa;
    border: none;
    border-radius: 10px;
}

button:hover { 
    opacity: 0.8;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#aMain {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    font-size: medium;
}